<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>265573575250-472ahdmd77kl27qinb3k6i7rdhqclcvt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.265573575250-472ahdmd77kl27qinb3k6i7rdhqclcvt</string>
	<key>API_KEY</key>
	<string>AIzaSyCgqt4Cp2MPMv3E84OiMaMFmvGhznLxVAU</string>
	<key>GCM_SENDER_ID</key>
	<string>265573575250</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>justinmac.CookPad</string>
	<key>PROJECT_ID</key>
	<string>cookpad-303fa</string>
	<key>STORAGE_BUCKET</key>
	<string>cookpad-303fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:265573575250:ios:30e72d0f50772a92</string>
	<key>DATABASE_URL</key>
	<string>https://cookpad-303fa.firebaseio.com</string>
</dict>
</plist>